.top-label {
  font-size: 13px;
  font-style: italic;
  text-transform: uppercase;
  float: left;
}
.age-label {
  text-align: right;
  font-weight: bold;
  width: 90px;
  padding-right: 10px;
}
.clearfix {
  clear: both;
}
.bar {
  fill: DarkSlateBlue;
}

.buttons-container {
  width: 520px;
  margin-bottom: 15px;
  overflow: hidden;
}
.buttons-container > div {
  float: left;
  margin-right: .5em;
  cursor: pointer;
}
.selected {
  font-weight: bold;
}

.play-button {
  margin-left: 10px;
  margin-bottom: 15px;
  font-style: italic;
  cursor: pointer;
  color: gray;
}
.play-button:hover {
  color: black;
}
